img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
}

.btn--block {
  display: block;
  width: 100%;
  background-color: #377175;
  border: 1px solid #cccccc;
  color: #ffffff !important ;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: lowercase;
  transition: 2s;
  cursor: pointer;
}
.btn--block:hover {
background-color: #2cc1cc;
color: #000000 !important;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 50px;


  
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  /* background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fafafa;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9,
              -0.5em -0.5em 1em #ffffff;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.4s ease;
}
.card:hover{
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url(../Images/mission.jpg);
}
.card__image--river {
  background-image: url(../Images/vision.jpg);
}
.card__image--record {
  background-image: url(../Images/background.png);
}
.card__image--fence {
  background-image: url(../Images/mission.jpg);
}
.card__title {
  color: #000000;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 1rem;
  color: #181717;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
